        <div class="work_search">
            <h3> In search of work?</h3>
            <div class="search_text">
                <h4> If you are a technician or skilled craftsman, </h4>
                <h4> like a plumber, electrician, domestic help, </h4>
                <h4> cook, etc. looking for local work or </h4>
                <h4> assignments then please click here.</h4>
            </div>
            <p><a class="btn btn-primary btn-lg" href="#" role="button"> Craftsman Zone </a></p>
        </div>