
    <div class="container">
        <div class="work_search">
            <h3> In search of work?</h3>
            <p><a class="btn btn-primary btn-lg" href="#" role="button"> Enter Here </a></p>
        </div>
        
        <div class="help_search">
            <h3> Looking for help? </h3>
            <p><a class="btn btn-primary btn-lg" href="#" role="button"> Enter here </a></p>
        </div>

    </div>
