
<header class="navbar navbar-default">
    <div class="container-fluid">
        <%= link_to "gharkakaam.com", "#", class: "logo", id: "logo" %>
        
        <div class="nav_item">
        <%= link_to "Sign In", "#", class: "sign_in", id: "sign_in" %>
        <%= link_to "Register", "#", class: "register", id: "register" %>
        </div>
    </div>
</header>